# Plotting Choropleth Maps using Python
---
>A choropleth map is a type of thematic map in which areas are shaded or patterned in proportion to a statistical variable that represents an aggregate summary of a geographic characteristic within each area, such as population density or per-capita income.

In [1]:
from json import load

Load all districts from geojson file

In [2]:
bd_districts=load(open('bangladesh_geojson_adm2_64_districts_zillas.json','r'))

In [3]:
bd_districts['features'][61].keys()

dict_keys(['type', 'geometry', 'properties', 'id'])

In [4]:
import pandas as pd

In [5]:
dfs= pd.read_html('https://en.wikipedia.org/wiki/Districts_of_Bangladesh')

In [6]:
len(dfs)

13

In [7]:
dfs[1]

,District,Bengali,Division,Established,Population (thousands)[28],Area (km2)[28]
0,Barguna District,বরগুনা,Barisal,1984,901,1940
1,Barisal District,বরিশাল,Barisal,1797,2426,2786
2,Bhola District,ভোলা,Barisal,1984,1947,3405
3,Jhalokati District,ঝালকাঠি,Barisal,1984,711,751
4,Patuakhali District,পটুয়াখালী,Barisal,1969,1596,3221
...,...,...,...,...,...,...
59,Thakurgaon District,ঠাকুরগাঁও,Rangpur,1984,1380,1810
60,Habiganj District,হবিগঞ্জ,Sylhet,1984,2059,2637
61,Moulvibazar District,মৌলভীবাজার,Sylhet,1984,1902,2799
62,Sunamganj District,সুনামগঞ্জ,Sylhet,1984,2443,3670
63,Sylhet District,সিলেট,Sylhet,1782,5316,3490

In [8]:
dfs[1].to_csv("Districts_of_Bangladesh.csv")

In [9]:
df=pd.read_csv("Districts_of_Bangladesh.csv")

In [10]:
df.head()

,Unnamed: 0,District,Bengali,Division,Established,Population (thousands)[28],Area (km2)[28]
0,0,Barguna District,বরগুনা,Barisal,1984,901,1940
1,1,Barisal District,বরিশাল,Barisal,1797,2426,2786
2,2,Bhola District,ভোলা,Barisal,1984,1947,3405
3,3,Jhalokati District,ঝালকাঠি,Barisal,1984,711,751
4,4,Patuakhali District,পটুয়াখালী,Barisal,1969,1596,3221

In [11]:
df["Population (thousands)[28]"]

0      901
1     2426
2     1947
3      711
4     1596
      ...
59    1380
60    2059
61    1902
62    2443
63    5316
Name: Population (thousands)[28], Length: 64, dtype: int64

In [18]:
df.District	=

0         Barguna District
1         Barisal District
2           Bhola District
3       Jhalokati District
4      Patuakhali District
              ...
59     Thakurgaon District
60       Habiganj District
61    Moulvibazar District
62      Sunamganj District
63         Sylhet District
Name: District, Length: 64, dtype: object